<header>
  <a href="#" class="logo"><i class="fas fa-utensils"></i>FoodIn</a>
</header>
<section >
  <div class="container py-3">
    <div class="row">
      <div class="mx-auto col-sm-6">
        <!-- form user info -->
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0"style="text-align: center">Apply Now</h4>
          </div>
          <div class="card-body">
            <form class="form" role="form" autocomplete="off">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Full name</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" #name>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                <div class="col-lg-9">
                  <input class="form-control" type="email" #email>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" #phone>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">ID Number</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" #cin>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Adresse</label>
                <div class="col-lg-9">
                  <input class="form-control" type="text" #adresse>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Birthday</label>
                <div class="col-lg-9">
                  <input class="form-control" type="date" #birthday>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">City</label>
                <div class="col-lg-9">
                  <select id="city" class="form-control" size="0" #city>
                    <option value="Rabat">Rabat</option>
                    <option value="Sale">Sale</option>
                    <option value="Fes">Fes</option>
                    <option value="Casablance">Casablanca</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Vehicule Type</label>
                <div class="col-lg-9">
                  <select id="vehicule" class="form-control" size="0" #vehiculeType>
                    <option value="Moto">Moto</option>
                    <option value="Car">Car</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label >Image</label><br>
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <input #image type="file" accept='image/*' (change)="onImageUpload($event);preview(image.files)">
                <br>
                <img [src]="imgURL" height="300" *ngIf="imgURL" class="center">
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <div class="col-lg-12">
                  <input type="button" class="btn btn-primary" value="Apply" style="width: 100%"
                         (click)="
              application.name=name.value;
              application.email=email.value;
              application.number=phone.value;
              application.birthday=birthday.value;
              application.city=city.value;
              application.vehiculeType=vehiculeType.value;
              application.cin=cin.value;
              application.adresse=adresse.value;
              addApplication();
           "
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /form user info -->
      </div>
    </div>
  </div>
</section>
