<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-10 col-sm-offset-1  text-center">
          <div class="four_zero_four_bg">
          </div>
          <div class="contant_box_404" style="margin-top: 5%">
            <h3 class="h2">En Cours De Développement    </h3>
            <p>Merci Pour Votre Patience</p>
            <a class="link_404" [routerLink]="['/admin']" routerLinkActive="router-link-active">Revenir à l'accueil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
