<div class="container" >
  <br><br><br><br>
  <div class="card-columns d-flex justify-content-center">
    <div class="card text-center">
      <div class="card-header">
        Restaurant
      </div>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/restaurant.jpg" alt="Card image cap">
        <br><br>
        <p class="card-text">Register your business in FoodIn!</p>
        <p class="card-text">Increase your sales up to 40%</p>
        <p class="card-text">Customers are ordering online now more than ever - be where they are</p>
        <a routerLink="place" class="btn btn-primary" style="width: 100%">Apply</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        Delivery
      </div>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/delivery.jpg" alt="Card image cap">
        <br><br>
        <p class="card-text">Join us now and ......</p>
        <a routerLink="delivery" class="btn btn-primary" style="width: 100%">Apply</a>
      </div>
    </div>
  </div>
</div>
