<div class="container" >
  <br><br><br><br>
  <div class="card-columns d-flex justify-content-center">
    <div class="card text-center">
      <div class="card-header">
        Restaurant
      </div>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/restaurant.jpg" alt="Card image cap">
        <br><br>
        <p class="card-text">Grow with FoodIn! Our technology and user base can help you boost sales and unlock new opportunities!</p>
        <a routerLink="place" class="btn btn-primary" style="width: 100%">Join Us</a>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        Delivery
      </div>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/delivery.jpg" alt="Card image cap">
        <br><br>
        <p class="card-text">Be your own boss! Enjoy flexibility, freedom and competitive earnings by delivering with FoodIn.</p>
        <a routerLink="delivery" class="btn btn-primary" style="width: 100%">Join Us</a>
      </div>
    </div>
  </div>
</div>
