<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white border-right"  id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/admin/places/list">Places</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/admin/places/applications">Applications</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-brand bg-body border-bottom" >
      <button class="btn btn-primary" id="menu-toggle">=</button>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>


