<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>FoodIn &mdash; We Order You Eat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
  <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
  <meta name="author" content="FREEHTML5.CO"/>

  <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content=""/>
  <meta name="twitter:image" content=""/>
  <meta name="twitter:url" content=""/>
  <meta name="twitter:card" content=""/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <link
    href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic'
    rel='stylesheet' type='text/css'>

  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Simple Line Icons -->
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <!-- Datetimepicker -->
  <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="css/flexslider.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.css">

  <link rel="stylesheet" href="css/style.css">


  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div id="fh5co-container">
  <div id="fh5co-home" class="js-fullheight" data-section="home">

    <div class="flexslider">

      <div class="fh5co-overlay"></div>
      <div class="fh5co-text">
        <div class="container">
          <div class="row">
            <h1 class="to-animate">foodIn</h1>
            <h2 class="to-animate"><span>We Order You Eat</span></h2>
          </div>
        </div>
      </div>
      <ul class="slides">
        <li style="background-image: url(assets/images/slide_1.jpg);" data-stellar-background-ratio="0.5"></li>
        <li style="background-image: url(assets/images/slide_2.jpg);" data-stellar-background-ratio="0.5"></li>
        <li style="background-image: url(assets/images/slide_3.jpg);" data-stellar-background-ratio="0.5"></li>
      </ul>

    </div>

  </div>

  <div class="js-sticky">
    <div class="fh5co-main-nav">
      <div class="container-fluid">
        <div class="fh5co-menu-1">
          <a href="#" data-nav-section="home">Home</a>
          <a href="#" data-nav-section="about">About</a>
          <a href="#" data-nav-section="features">Features</a>
        </div>
        <div class="fh5co-logo">
          <a href="index.html">foodIn</a>
        </div>
        <div class="fh5co-menu-2">

          <a href="#" data-nav-section="events">Apply</a>
          <a href="#" data-nav-section="reservation">Contact</a>
        </div>
      </div>

    </div>
  </div>

  <div id="fh5co-about" data-section="about">
    <div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url(assets/images/res_img_1.jpg)"></div>
    <div class="fh5co-2col fh5co-text">
      <h2 class="heading to-animate">About Us</h2>
      <p class="to-animate"><span class="firstcharacter">F</span>ood delivery never made easier. FoodIn est le moyen le
        plus rapide, le plus simple et le plus pratique de commander vos repas en ligne au Maroc, depuis votre
        smartphone via notre application gratuite disponible sur ANDROID et prochainement IOS. FoodIn, c’est aussi une
        sélection exclusive des meilleurs restaurants de votre quartier, des offres spéciales et promotions pour les
        clients FoodIn. Les prix pratiqués sont les mêmes qu'au restaurant et un service client est à votre disposition
        pour vous conseiller 7 jours sur 7 de 9h à 1h du matin.</p>

    </div>
  </div>

  <div id="fh5co-sayings">
    <div class="container">
      <div class="row to-animate">

        <div class="flexslider">
          <ul class="slides">

            <li>
              <blockquote>
                <p>&ldquo;Cooking is an art, but all art requires knowing something about the techniques and materials&rdquo;</p>
                <p class="quote-author">&mdash; Nathan Myhrvold</p>
              </blockquote>
            </li>
            <li>
              <blockquote>
                <p>&ldquo;Give a man food, and he can eat for a day. Give a man a job, and he can only eat for 30
                  minutes on break.&rdquo;</p>
                <p class="quote-author">&mdash; Lev L. Spiro</p>
              </blockquote>
            </li>
            <li>
              <blockquote>
                <p>&ldquo;Find something you’re passionate about and keep tremendously interested in it.&rdquo;</p>
                <p class="quote-author">&mdash; Julia Child</p>
              </blockquote>
            </li>
            <li>
              <blockquote>
                <p>&ldquo;Never work before breakfast; if you have to work before breakfast, eat your breakfast first.&rdquo;</p>
                <p class="quote-author">&mdash; Josh Billings</p>
              </blockquote>
            </li>


          </ul>
        </div>

      </div>
    </div>
  </div>

  <div id="fh5co-featured" data-section="features">
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="heading to-animate">Featured Restaurants</h2>
          <p class="sub-heading to-animate">A Large choice of restaurants and coffeshops you can choose from.</p>
        </div>
      </div>
      <div class="row">
        <div class="fh5co-grid">
          <div class="fh5co-v-half to-animate-2">
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/images/res_img_1.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
              <h2>Grill House</h2>
              <span class="pricing">Italian</span>
              <p>Italian cuisine is characterized by the variety of products used in Italy, as well as by a great
                regional diversity.</p>
            </div>
          </div>
          <div class="fh5co-v-half">
            <div class="fh5co-h-row-2 to-animate-2">
              <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/images/res_img_2.jpg)"></div>
              <div class="fh5co-v-col-2 fh5co-text arrow-left">
                <h2>Finzi</h2>
                <span class="pricing">French</span>
                <p>French cuisine (French: Cuisine française) consists of the cooking traditions and practices from
                  France.</p>
              </div>
            </div>
            <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
              <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/images/res_img_8.jpg)"></div>
              <div class="fh5co-v-col-2 fh5co-text arrow-right">
                <h2>Havana Pub</h2>
                <span class="pricing">Spanish</span>
                <p>The diversity of the regions and soils of Spain makes it a very varied and renowned cuisine.</p>
              </div>
            </div>
          </div>

          <div class="fh5co-v-half">
            <div class="fh5co-h-row-2 fh5co-reversed to-animate-2">
              <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/images/res_img_7.jpg)"></div>
              <div class="fh5co-v-col-2 fh5co-text arrow-right">
                <h2>Tendy's</h2>
                <span class="pricing">Take away</span>
                <p>Far far away, behind the word mountains.</p>
              </div>
            </div>
            <div class="fh5co-h-row-2 to-animate-2">
              <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/images/res_img_6.jpg)"></div>
              <div class="fh5co-v-col-2 fh5co-text arrow-left">
                <h2>El Cielo</h2>
                <span class="pricing">Fish</span>
                <p>Mediterranean cuisine is the food and preparation methods of people living in the region of the
                  Mediterranean Basin.</p>
              </div>
            </div>
          </div>
          <div class="fh5co-v-half to-animate-2">
            <div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(assets/images/res_img_34.jpg)"></div>
            <div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
              <h2>Pause Gourmet</h2>
              <span class="pricing">Healthy</span>
              <p>A healthy diet is a dietary practice that helps maintain or improve general health. A good diet
                provides the body with essential nutrients: fluid, essential amino acids from proteins, fatty acids,
                vitamins, minerals, and enough calories.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div id="fh5co-events" data-section="events" style="background-image: url(assets/images/slide_2.jpg);"
       data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h2 class="heading">Apply</h2>
          <p class="sub-heading">Apply to become a deliverer or a place</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="fh5co-event to-animate-2">
            <h3>Deliverer</h3>
            <span class="fh5co-event-meta">FoodIn</span>
            <p>Be your own boss! Enjoy flexibility, freedom and competitive earnings by delivering with FoodIn.</p>
            <div class="card">
              <div class="card-body">
            <form class="form" role="form" autocomplete="off">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Full name</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" #name>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" type="email" #email>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" #phone>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">ID Number</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" #cin>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Adresse</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" #adresse>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Birthday</label>
              <div class="col-lg-9">
                <input class="form-control" type="date" #birthday>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">City</label>
              <div class="col-lg-9">
                <select id="city" class="form-control" size="0" #city>
                  <option value="Rabat">Rabat</option>
                  <option value="Sale">Sale</option>
                  <option value="Fes">Fes</option>
                  <option value="Casablance">Casablanca</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Vehicule Type</label>
              <div class="col-lg-9">
                <select id="vehicule" class="form-control" size="0" #vehiculeType>
                  <option value="Moto">Moto</option>
                  <option value="Car">Car</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label>Image</label><br>
              <span style="color:red;" *ngIf="message">{{message}}</span>
              <input #image type="file" accept='image/*'  (change)="onImageUpload($event);preview(image.files)">
              <br>
              <img [src]="imgURL"style="width: fit-content;max-width: 100%" *ngIf="imgURL" class="center" >
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
            </div>
            <p (click)="
              application.name=name.value;
              application.email=email.value;
              application.number=phone.value;
              application.birthday=birthday.value;
              application.city=city.value;
              application.vehiculeType=vehiculeType.value;
              application.cin=cin.value;
              application.adresse=adresse.value;
              name.value='';email.value='';phone.value='';birthday.value='';city.value='';vehiculeType.value='';cin.value='';adresse.value='';
              image.value='';
              imgURL='';
              addApplication();
           "><a href="#" class="btn btn-primary btn-outline">Apply</a></p>
            </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fh5co-event to-animate-2">
            <h3>Place</h3>
            <span class="fh5co-event-meta">FoodIn</span>
            <p>Grow with FoodIn! Our technology and user base can help you boost sales and unlock new opportunities!</p>
            <div class="card">
              <div class="card-body">
                <form class="form" role="form" autocomplete="off">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Full name</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" #name2>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" type="email" #email2>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" #phone2>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Location</label>
              <div class="col-lg-9">
                <input class="form-control" type="url" #location2>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Description</label>
              <div class="col-lg-9">
                <input class="form-control" type="url" #description2>
              </div>
            </div>
            <div class="form-group row">
              <label >Image</label><br>
              <span style="color:red;" *ngIf="message2">{{message2}}</span>
              <input #image2 type="file" accept='image/*' (change)="onImageUpload2($event);preview2(image2.files)">
              <br>
              <img [src]="imgURL2" style="width: fit-content;max-width: 100%" *ngIf="imgURL2" class="center">
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <p (click)="
              application2.name=name2.value;
              application2.email=email2.value;
              application2.number=phone2.value;
              application2.description=description2.value;
              application2.location=location2.value;
                 name2.value='';email2.value='';phone2.value='';description2.value='';location2.value='';
              imgURL2='';
              addApplication2();"><a href="#" class="btn btn-primary btn-outline">Apply</a></p>
            </div>
            </form>
          </div>
        </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="fh5co-contact" data-section="reservation">
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="heading to-animate">Contact us</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 to-animate-2">
          <h3>Contact Info</h3>
          <ul class="fh5co-contact-info">
            <li class="fh5co-contact-address ">
              <i class="icon-home"></i>
              5555 Lot Anne Marie 6 Agdal, <br>Rabat Maroc
            </li>
            <li><i class="icon-phone"></i> (123) 465-6789</li>
            <li><i class="icon-envelope"></i>info@FoodIn.com</li>
            <li><i class="icon-globe"></i> <a href="#" target="_blank">FoodIn.com</a></li>
          </ul>
        </div>
        <div class="col-md-6 to-animate-2">
          <h3>Contact Form</h3>
          <div class="form-group ">
            <label for="name" class="sr-only">Name</label>
            <input id="name" class="form-control" placeholder="Name" type="text">
          </div>
          <div class="form-group ">
            <label for="email" class="sr-only">E-mail</label>
            <input id="email" class="form-control" placeholder="Email" type="email">
          </div>
          <div class="form-group ">
            <label for="email" class="sr-only">Reason</label>
            <input id="email" class="form-control" placeholder="Email" type="email">
          </div>


          <div class="form-group ">
            <label for="message" class="sr-only">Message</label>
            <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group ">
            <input class="btn btn-primary" value="Send" type="submit">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div id="fh5co-footer">
  <div class="container">
    <div class="row row-padded">
      <div class="col-md-12 text-center">
        <p class="to-animate"> 2022 FoodIn &copy; All Rights Reserved</p>
        <p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p class="to-animate">Contact us</p>
        <ul class="fh5co-social">

          <li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
          <li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
          <li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Bootstrap DateTimePicker -->
<script src="js/moment.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>

<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>
<script>
  $(function () {
    $('#date').datetimepicker();
  });
</script>
<!-- Main JS -->
<script src="js/main.js"></script>

</body>
</html>

<router-outlet></router-outlet>
