<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>complete responsive food website design tutorial </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
  <a href="#" class="logo"><i class="fas fa-utensils"></i>FoodIn</a>
  <div id="menu-bar" class="fas fa-bars"></div>
  <a class="login float-right" (click)="openLoginPopup()">Login</a>
</header>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':loginPopupDisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content clearfix">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeLoginPopup()"><span aria-hidden="true">×</span></button>
      <div class="modal-body">
        <h3 class="title">Log in to FoodIn</h3>
        <div class="form-group">
          <span class="input-icon"><i class="fa fa-user"></i></span>
          <input type="email" class="form-control" placeholder="Email" #loginemail>
        </div>
        <div class="form-group">
          <span class="input-icon"><i class="fas fa-key"></i></span>
          <input type="password" class="form-control" placeholder="Password" #loginpassword>
        </div>
        <a  class="forgot-pass">Forgot Password?</a>
        <button class="btn" (click)="login(loginemail.value.toString(),loginpassword.value.toString())">Login</button>
      </div>
    </div>
  </div>
</div>
<section class="home" id="home">

  <div class="content">
    <h3>More than food delivery</h3>
    <p style="padding-left: 8%;">Fine Dining, Fast Food, Cafe, anything!</p>
  </div>

  <div class="image">
    <img src="assets/images/home-img.png" alt="">
  </div>

</section>


<section class="speciality" id="speciality">

  <h1 class="heading"> Top <span>restaurants</span></h1>

  <div class="box-container">
    <img class="top-img" src="assets/images/mcdonalds.jpg"/>
    <img class="top-img" src="assets/images/kfc.png"/>
    <img class="top-img" src="assets/images/bk.png"/>
    <img class="top-img" src="assets/images/pizzahut.png"/>
    <img class="top-img" src="assets/images/logo-Subway.jpg"/>
    <img class="top-img" src="assets/images/download.png"/>
    <img class="top-img" src="assets/images/Starbucks_Corporation_Logo_2011.svg.png"/>
    <img class="top-img" src="assets/images/0-700445a54e98173d13000b15dd328fc1_tacobell.jpg"/>
  </div>
</section>


<div class="step-container">

  <h1 class="heading">how it <span>works</span></h1>

  <section class="steps">

    <div class="box">
      <img src="assets/images/step-1.jpg" alt="">
      <h3>choose your favorite food</h3>
    </div>
    <div class="box">
      <img src="assets/images/step-2.jpg" alt="">
      <h3>free and fast delivery</h3>
    </div>
    <div class="box">
      <img src="assets/images/step-3.jpg" alt="">
      <h3>easy payments methods</h3>
    </div>
    <div class="box">
      <img src="assets/images/step-4.jpg" alt="">
      <h3>and finally, enjoy your food</h3>
    </div>

  </section>

</div>


<div class="step-container">

  <section class="dowloadapp">
    <div class="box">
      <img src="assets/images/WhatsApp%20Image%202022-02-28%20at%203.01.36%20PM.jpeg" alt="">
      <h1>Dowload the app</h1>
      <p>Order anything and track in real time with the FoodIn app.</p>
      <a href="#" style="margin-right: 5%;"><img src="assets/images/appstore.png"></a>
      <a href="#"><img src="assets/images/googleplay.png"></a>
    </div>

  </section>

</div>

<div class="step-container">

  <h1 class="heading">Join <span>Us</span></h1>

  <section class="joinus">

    <div class="box">
      <img src="assets/images/delivery.png" alt="">
      <h3>Become a rider</h3>
      <p>Be your own boss! Enjoy flexibility, freedom and competitive earnings by delivering with FoodIn</p>
      <a [routerLink]="['rider']" target="_blank">Join us</a>
    </div>
    <div class="box">
      <img src="assets/images/partner.jpg" alt="">
      <h3>Become a partner</h3>
      <p>Grow with FoodIn! Our technology and user base can help you boost sales and nulock new opportunities!</p>
      <a [routerLink]="['partner']" target="_blank">Join us</a>
    </div>

  </section>

</div>

<section class="footer">

</section>

<!-- scroll top button  -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

<!-- loader  -->
<div class="loader-container">
  <img src="assets/images/loader.gif" alt="">
</div>


<!-- custom js file link  -->
<script src="js/script.js"></script>


</body>
</html>
